name: Test

on:
  push:
    branches:
      - "*"
    tags-ignore:
      - base/*
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - name: Checkout code
        uses: actions/checkout@v6

      - name: Run tests
        run: make test

      - uses: codecov/codecov-action@v4
        with:
          file: coverage.out
